
 /* *{
    border: solid red 1px;
}*/
body{
  margin: 0 auto;
  width: 85%; 
  font-family: Roboto Mono; 
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center ;
    padding: 2%;
    margin: 0 auto;
}
a:hover {
    opacity: 0.5;
}

.plan{
    padding: 8px;
    background-color: #FF764E;
    color:white;
    border-radius: 15px;
    font-size: 2rem;
    text-decoration: none;
}

.about{
    padding: 8px;
    background-color:#5ED3EB;
    color:white;
    border-radius: 15px;
    font-size: 2rem;
   
}

.get{
    padding: 8px;
    background-color:#FFCD69;
    color:white;
    border-radius: 15px;
    font-size: 2rem;
}

.header-img{
    display: inline-block;
    border-radius: 50%;
    height: 20%;
    width: 20%;
}


.div1{
    font-size: 1.6rem;
    padding: 1%;
    margin-bottom: 5%;
    display: inline-block;
    text-align:center;
}
div h1{
    font-size: 4rem;
    font-family: Chelsea Market;
}
.main{
    background-color:#DDB9A3 ;
    color: white;
    font-size: 1.8rem;
    margin: 0 auto;
    padding: 1%;
    display: inline-block;
    word-wrap: break-word;
    text-align: center;
}

.fire, .rv{
    width: 10%;
    height: 10%;
}
.sec2{
    text-align: center;
    font-size: 1.6rem;
    padding: 10% 29% 10% 29%;
    word-wrap: break-word;

    

}    

.footerpic{

    width: 100%;
    height: 500px;
    object-fit: cover;
}
.footer{
    background-color:#F9E7DC ;
}